html {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #1b1921;
  font-family: 'Nunito', sans-serif;
}

article {
  background-color: #1b1921;
}

nav {
  color: #fff;
}

.white {
  color: #fff;
}

.no-line {
  text-decoration: none;
}

.blue:hover {
  color: #43469d;
}

.btn {
  background-color: #301289;
  color: #fff;
  border-radius: 15px;
  border-color: #301289;
}

.sign-up {
  background-color: #fff;
  color: #301289;
  border-radius: 15px;
  border-color: #fff;
}

.btn:hover {
  background-color: #1b1921;
  border-color: #fff;
}

.step {
  max-height: 50px;
}
